data_directory = '/var/lib/postgresql/9.3/main'
hba_file = '/etc/postgresql/9.3/main/pg_hba.conf'
ident_file = '/etc/postgresql/9.3/main/pg_ident.conf'

external_pid_file = '/var/run/postgresql/9.3-main.pid'

port = 5432
max_connections = {{ postgresql.max_connections|default('80') }}
unix_socket_directories = '/var/run/postgresql'

ssl = off
# ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
# ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'

shared_buffers = {{ postgresql.shared_buffers|default('512MB') }}
temp_buffers = {{ postgresql.temp_buffers|default('8MB') }}
work_mem = {{ postgresql.work_mem|default('8MB') }}
maintenance_work_mem = {{ postgresql.maintenance_work_mem|default('128MB') }}

wal_level = minimal
fsync = on
synchronous_commit = off
wal_sync_method = fsync
wal_buffers = 1MB
wal_writer_delay = 200ms

checkpoint_segments = 30
checkpoint_timeout = 15min
checkpoint_completion_target = 0.9

seq_page_cost = 1.0
random_page_cost = 1.0 # SSD
cpu_tuple_cost = 0.01
cpu_index_tuple_cost = 0.005
cpu_operator_cost = 0.0025

effective_cache_size = {{ postgresql.effective_cache_size|default('512MB') }}

log_line_prefix = '%t '
log_timezone = 'UTC'

datestyle = 'iso, mdy'
timezone = 'UTC'

lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

default_text_search_config = 'pg_catalog.english'