server {
  listen 80;
  server_name staticsite.com www.staticsite.com staticsite.dev;

  root {{ staticsite_deploy_path }};
  access_log {{ staticsite_logs_path }}/access.log main;
  error_log  {{ staticsite_logs_path }}/error.log;
}