production:
  adapter: postgresql
  database: railsapp
  username: railsapp_app
  password: "{{ postgresql_railsapp_app_password }}"

migration:
  adapter: postgresql
  database: railsapp
  username: railsapp_owner
  password: "{{ postgresql_railsapp_owner_password }}"